@import "color-font-setting";
@import "shared-setting";
@import "header";
@import "cart";
@import "menu-component";
@import "aside";
@import "footer";

body {
    header {
        .categoryTitle {
            width: 100%;
            height: 240px;
            text-align: center;

            h1 {
                font-size: 40px;
                line-height: 240px;
                color: $white;
                letter-spacing: 1.5px;
            }
        }
    }

    main {
        padding-top: 160px;

        .product {
            margin-bottom: 160px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img {
                flex-shrink: 0;
                border-radius: 10px;
                width: 48%;
            }

            div {
                padding-left: 125px;

                .specialTitle {
                    margin-top: 0;
                    margin-bottom: 16px;
                    opacity: 1;
                }

                h2 {
                    font-size: 40px;
                    line-height: 44px;
                    letter-spacing: 1.5px;
                }

                p {
                    margin-top: 32px;
                    opacity: 0.5;
                }
            }
        }

        .product:nth-child(even) {
            img {
                order: 1;
            }

            div {
                padding-left: 0;
                padding-right: 125px;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    body main .product img {
        max-width: 640px;
    }
}

@media screen and (max-width:1024px) {
    body {
        main {
            padding-top: 120px;

            .product {
                margin-bottom: 120px;
                display: block;
                text-align: center;

                img {
                    width: 100%;
                }

                div {
                    margin-top: 52px;
                    padding: 0 5%;
                    width: 100%;

                    button {
                        margin-top: 24px;
                    }
                }
            }

            .product:nth-child(even) {
                div {
                    padding: 0 5%;
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    body {
        header {
            .categoryTitle {
                height: 100px;

                h1 {
                    font-size: 28px;
                    line-height: 100px;
                }
            }
        }

        main {
            padding-top: 64px;

            .product {
                div {
                    margin-top: 32px;
                    padding: 0;

                    .specialTitle {
                        margin-bottom: 24px;
                    }

                    h2 {
                        font-size: 28px;
                        line-height: 38px;
                        letter-spacing: 2px;
                    }

                    p {
                        margin-top: 24px;
                    }
                }
            }

            .product:nth-child(even) {
                div {
                    padding: 0;
                }
            }
        }
    }
}