@import "color-font-setting";
@import "shared-setting";
@import "header";
@import "cart";
@import "thank-msg-modal";
@import "menu-component";
@import "footer";

body {
    main {
        margin-bottom: 130px;

        form {
            display: flex;
            justify-content: space-between;

            section {
                border-radius: 10px;
                background-color: $white;
            }

            .checkout {
                flex-basis: 65%;
                padding: 32px;

                h1 {
                    margin-bottom: 40px;
                    font-size: 32px;
                    line-height: 36px;
                    letter-spacing: 1.15px;

                    span {
                        margin-top: 10px;
                        font-size: 13px;
                        line-height: 18px;
                        letter-spacing: 0;
                        word-spacing: 1px;
                        text-transform: none;
                        font-style: italic;
                        opacity: 0.5;
                        display: block;
                    }
                }

                .fieldSet {
                    margin-bottom: 60px;

                    .fieldTitle {
                        margin-bottom: 16px;
                        font-size: 13px;
                        font-weight: bold;
                        color: $primary;
                        letter-spacing: 0.9px;
                        text-transform: uppercase;
                    }

                    .row {
                        margin-bottom: 24px;
                        display: flex;
                        justify-content: space-between;

                        div {
                            flex-basis: 48%;
                            position: relative;

                            p:first-child {
                                margin-bottom: 4px;
                                font-size: 12px;
                                font-weight: bold;
                            }

                            input[type="text"] {
                                padding: 6px 12px;
                                width: 100%;
                                font-size: 13px;
                                border-radius: 10px;
                                border: 2px solid $input_border;
                                outline: none;

                                &:focus {
                                    border-color: $primary;
                                    caret-color: $primary;
                                }
                            }

                            .warning,
                            .wrong {
                                display: none;
                                font-size: 12px;
                                color: $warning;
                                position: absolute;
                                top: 0;
                                right: 0;
                            }

                            .warning.alert,
                            .wrong.alert {
                                display: block;
                            }
                        }

                        div.error {
                            p:first-child {
                                color: $warning;
                            }

                            input {
                                border-color: $warning;

                                &:focus {
                                    border-color: $warning;
                                    caret-color: $warning;
                                }
                            }
                        }
                    }

                    .row:last-child {
                        margin-bottom: 0;
                    }
                }

                .shippingInfo .row:first-of-type div {
                    flex-basis: 100%;
                }

                .paymentDetails {
                    position: relative;

                    .row .options {
                        label {
                            margin-bottom: 16px;
                            padding: 0 12px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            border-radius: 10px;
                            border: 2px solid $input_border;
                            outline: none;
                            position: relative;

                            &::before,
                            &::after {
                                content: "";
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                top: 50%;
                                left: 12px;
                            }

                            &::before {
                                border: 1px solid $input_border;
                                margin-right: 8px;
                                transform: translateY(-50%);
                            }

                            &::after {
                                display: none;
                                border: 1px solid $primary;
                                background-color: $primary;
                                transform: translateY(-50%) scale(0.6);
                            }

                            input {
                                margin-right: 24px;
                                appearance: none;
                            }
                        }

                        label.selected {
                            border-color: $primary;

                            &::after {
                                display: block;
                            }
                        }
                    }
                }

                .reminder {
                    margin-bottom: 24px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        margin-right: 32px;
                    }

                    p {
                        font-size: 12px;
                        line-height: 20px;
                        opacity: 0.5;
                    }
                }

                .creditCard {
                    margin-bottom: 0;
                }

                .hide {
                    display: none;
                }
            }

            .summary {
                flex-basis: 35%;
                align-self: flex-start;
                margin-left: 30px;
                padding: 24px;

                h2 {
                    margin-bottom: 32px;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 1.3px;
                }

                .summaryDefaultText {
                    display: none;
                    font-size: 14px;
                    opacity: 0.5;
                }

                .checkoutList {
                    .line {
                        margin-top: 24px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        &>div {
                            width: 78%;
                            display: flex;
                            align-items: center;

                            img {
                                margin-right: 16px;
                                width: 90px;
                                border-radius: 10px;
                            }

                            div {
                                p:nth-child(1) {
                                    font-weight: bold;
                                }

                                p:nth-child(2) {
                                    font-size: 14px;
                                    opacity: 0.5;
                                }
                            }
                        }
                    }

                    .line:first-child {
                        margin-top: 0;
                    }
                }

                .finalSum {
                    margin-top: 32px;

                    p {
                        margin-bottom: 8px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span:first-child {
                            text-transform: uppercase;
                            opacity: 0.5;
                        }

                        span:last-child {
                            font-size: 18px;
                            font-weight: bold;
                        }

                        .grandTotal {
                            color: $primary;
                        }
                    }

                    p:nth-child(3) {
                        margin-bottom: 24px;
                    }

                    p:nth-child(4) {
                        margin-bottom: 0;
                    }

                    button {
                        margin-top: 32px;
                        width: 100%;
                    }
                }
            }

            .summary.empty {
                flex-basis: 100%;
                margin-left: 0;

                .summaryDefaultText {
                    display: block;
                }

                .finalSum {
                    display: none;
                }
            }
        }
    }
}

@media screen and (hover:hover) {
    body main form .checkout .paymentDetails .row .options label:hover {
        cursor: pointer;
    }
}

@media screen and (max-width:1200px) {
    body main form .summary .checkoutList .line {
        &>div img {
            width: 60px;
        }
    }
}

@media screen and (max-width:1024px) {
    body {
        main form {
            display: block;

            .checkout {
                margin-bottom: 32px;
            }

            .summary {
                margin-left: 0;

                .checkoutList .line {
                    &>div {
                        width: 70%;

                        img {
                            width: 70px;
                        }
                    }
                }

                .finalSum {
                    text-align: center;

                    button {
                        max-width: 380px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:680px) {
    body main form.checkout {
        padding: 24px;
    }
}

@media screen and (max-width:500px) {
    body {
        main {
            margin-bottom: 96px;

            form {
                .checkout .fieldSet {
                    .row {
                        margin-bottom: 0;
                        display: block;

                        div {
                            margin-top: 24px;
                        }
                    }

                    .row:first-of-type div:first-child {
                        margin-top: 0;
                    }

                    .paymentDetails .row div {
                        margin-top: 0;
                    }
                }

                .summary {
                    .checkoutList .line {
                        &>div img {
                            width: 50px;
                        }

                        .quantityNum {
                            margin-left: 16px;
                        }
                    }

                    .finalSum button {
                        height: 40px;
                    }
                }
            }
        }
    }
}