@import "color-font-setting";
@import "shared-setting";
@import "header";
@import "cart";
@import "menu-component";
@import "aside";
@import "footer";

body {
    header {
        height: 730px;
        background-image: url("../assets/home/desktop/image-hero.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        .heroPicText {
            margin: 130px 0 130px 11%;
            width: 33%;
            min-width: 400px;

            .specialTitle {
                color: $white;
                opacity: 0.5;
            }

            h1 {
                margin: 24px 0;
                font-size: 56px;
                line-height: 58px;
                color: $white;
                letter-spacing: 2px;
            }

            p {
                color: $white;
                opacity: 0.75;
            }
        }
    }

    .menuComponent {
        margin-top: 120px;
    }

    main {
        display: grid;
        grid-template-rows: minmax(450px, 1.5fr) minmax(300px, 1fr) minmax(300px, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 30px;

        section {
            padding: 96px;
            border-radius: 10px;
            background-repeat: no-repeat;

            div {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .item1 {
            grid-area: 1/1/2/3;
            background-color: $primary;
            background-image: url("../assets/home/desktop/image-speaker-zx9.png"), url("../assets/home/desktop/pattern-circles.svg");
            background-position: left 20% bottom -10px, left -10% top 10%;
            background-size: auto 75%, 68% auto;

            div {
                padding-left: 55%;
                width: 100%;

                h2 {
                    margin: 24px 0;
                    font-size: 56px;
                    line-height: 58px;
                    color: $white;
                    letter-spacing: 2px;
                }

                p {
                    color: $white;
                    opacity: 0.75;
                }
            }
        }

        .item2 p,
        .item3 p {
            font-size: 28px;
            font-weight: bold;
            line-height: 38px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .item2 {
            grid-area: 2/1/3/3;
            background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
            background-position: right top;
            background-size: cover;
        }

        .item3Pic {
            grid-area: 3/1/4/2;
            background-image: url("../assets/home/desktop/image-earphones-yx1.jpg");
            background-position: center;
            background-size: cover;
        }

        .item3 {
            grid-area: 3/2/4/3;
            background-color: $block_bg;
        }
    }

    aside {
        margin: 200px 0;
    }
}

@media screen and (min-width:1600px) {
    body main section {
        padding: 96px 140px;
    }
}

@media screen and (max-width:1200px) {
    body {
        main {
            section {
                padding: 70px;
            }

            .item1 {
                background-position: left 15% bottom -10px, left -10% top 10%;
                background-size: auto 72%, 68% auto;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    body {
        header {
            background-image: url("../assets/home/tablet/image-header.jpg");
            background-position: bottom center;

            .heroPicText {
                margin: 130px auto;
                width: 50%;
                text-align: center;
            }
        }

        .menuComponent {
            margin: 96px 0;
        }

        .menu {
            margin: 0;
        }

        main {
            grid-template-rows: minmax(675px, 2.25fr) minmax(300px, 1fr) minmax(300px, 1fr);
            gap: 32px 12px;

            section {
                padding: 60px;
            }

            .item1 {
                background-image: url("../assets/home/tablet/image-speaker-zx9.png"), url("../assets/home/desktop/pattern-circles.svg");
                background-position: center top 40px, center top -40px;
                background-size: 30% auto, 110% auto;
                position: relative;

                div {
                    padding: 60px;
                    height: auto;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    button {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .item2 {
                background-image: url("../assets/home/tablet/image-speaker-zx7.jpg");
                background-position: right bottom;
            }

            .item3Pic {
                background-image: url("../assets/home/tablet/image-earphones-yx1.jpg");
            }
        }

        aside {
            margin: 96px 0;
        }
    }
}

@media screen and (max-width:730px) {
    body {
        main {
            grid-template-rows: minmax(600px, 2.25fr) 1fr 1fr;

            section {
                padding: 32px;
            }

            .item1 {
                background-size: 35% auto, 110% auto;

                div {
                    padding: 32px 48px;
                }
            }

            .item2 {
                background-position: right top;
            }
        }
    }
}

@media screen and (max-width:500px) {
    body {
        header {
            height: 600px;
            background-image: url("../assets/home/mobile/image-header.jpg");

            .heroPicText {
                margin: 100px auto;
                padding: 0 24px;
                width: 100%;
                min-width: auto;

                h1 {
                    font-size: 36px;
                    line-height: 40px;
                    letter-spacing: 1.3px;
                }
            }
        }

        .menuComponent {
            margin: 40px 0 120px 0;
        }

        .menu {
            margin: 0;
        }

        main {
            grid-template-rows: minmax(520px, 2.25fr) 1fr 1fr 1fr;
            grid-template-columns: 100%;
            gap: 24px;

            section {
                padding: 24px;
            }

            .item1 {
                grid-area: 1/1/2/2;
                background-image: url("../assets/home/mobile/image-speaker-zx9.png"), url("../assets/home/desktop/pattern-circles.svg");

                div {
                    padding: 24px;

                    h2 {
                        font-size: 36px;
                        line-height: 40px;
                        letter-spacing: 1.3px;
                    }
                }
            }

            .item2 {
                grid-area: 2/1/3/2;
                background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
                background-position: right bottom 20%;
            }

            .item3Pic {
                grid-area: 3/1/4/2;
                background-image: url("../assets/home/mobile/image-earphones-yx1.jpg");
            }

            .item3 {
                grid-area: 4/1/5/2;
            }
        }

        aside {
            margin: 120px 0;
        }
    }
}