@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'manrope', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: $black;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  text-transform: uppercase;
}

body {
  min-height: 100vh;
  background-color: $main_bg;
}

main {
  padding: 0 11%;
  width: 100%;
}

.productPic {
  flex-basis: 48%;
  min-width: 0;
  aspect-ratio: 27/28;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
}

.productInfo {
  flex-basis: 52%;
  padding-left: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialTitle {
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  color: $primary;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.goBack {
  margin: 80px 0 56px 0;
  opacity: 0.5;
  display: inline-block;
}

.minus,
.plus {
  font-size: 18px;
  opacity: 0.25;
}

@keyframes showing {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (hover: hover) {
  .goBack:hover {
    cursor: pointer;
    color: $primary;
    opacity: 1;
    text-decoration: underline;
  }

  .minus:hover,
  .plus:hover {
    cursor: pointer;
    color: $primary;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  main {
    padding: 0 40px;
  }

  .goBack {
    margin: 32px 0 24px 0;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 0 24px;
  }

  .goBack {
    margin: 16px 0 24px 0;
  }
}
