$primary: #d87d4a;
$light_primary: #ff8a4b;
$warning: #cd2c2c;
$gray: #979797;
$dark_gray: #4c4c4c;
$black: black;
$white: white;
$main_bg: #fafafa;
$block_bg: #f1f1f1;
$footer_bg: #101010;
$input_border: #cfcfcf;
